:root {
  --accent-color: #2196f3;
  --primary-titles-color: #212121;
  --primary-contacts-and-text-color: #757575;
  --white-color: #ffffff;
  --our-features-icon-primary-bg-color: #f5f4fa;
  --our-clients-items-border: 1px solid #afb1b8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --copyright-color: rgba(255, 255, 255, 0.4);
}

/* Utilities */
.decor-none {
  text-decoration: none;
}

.list-decor-clear {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

body {
  font-family: roboto;
  letter-spacing: 0.03em;
  color: var(--primary-titles-color);
}
h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid #000000;
  background-color: yellow;
}

/* header */

.header {
  background-color: blue;
}

.header__box {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;

  color: var(--accent-color);
}

.logo-link__studio {
  color: var(--primary-titles-color);
}

.site-nav__item:first-child {
  margin-left: 85px;
}

.site-nav__item:not(:first-child) {
  padding-left: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;

  color: var(--primary-titles-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.header-contacts__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts__item:not(:first-child) {
  padding-left: 50px;
}

.header-contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;

  color: var(--primary-contacts-and-text-color);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  background-color: tomato;
}

.hero__box {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);

  background-color: tomato;
}

.hero__button {
  display: inline-block;
  margin-top: 46px;
  padding: 10px 32px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-color);

  background-color: var(--accent-color);
}

/* our features */

.our-features {
  background-color: grey;
}

.our-features__title {
  display: none;
}

.our-features-list {
  display: flex;
  justify-content: center;
  width: 100%;

  padding-top: 94px;
  padding-bottom: 94px;
}

.our-features-list__item {
  width: calc((100% - 90px) / 4);
}

.our-features-list__link:hover,
.our-features-list__link:focus {
  background-color: var(--accent-color);
}

.our-features-list__item:not(:first-child) {
  margin-left: calc((100% - (270px * 4)) / 3);
}
.our-features-list__link {
  display: block;
  padding: 25px 100px;

  background-color: var(--our-features-icon-primary-bg-color);
  border-radius: 4px;
}

.our-features-list__title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
}

.our-features-list__text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-contacts-and-text-color);
}

/* our job */

.our-job {
  background-color: orange;
}

.our-job__box,
.team__box,
.our-clients__box {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-job__title,
.team__title,
.our-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  text-align: center;

  margin-bottom: 50px;
}

.our-job-list {
  display: flex;
  justify-content: space-between;
}

.our-job-list__item {
  width: calc((100% - 60px) / 3);
  margin-left: calc((100% - (370px * 3)) / 2);
}

.our-job-list__item:first-child {
  margin-left: 0;
}

.our-job-list__pic {
  display: block;
}

.our-job-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  text-align: center;
}

/* team */

.team {
  background-color: silver;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__item {
  width: calc((100% - 90px) / 4);
}

.team__member-pic {
  display: block;
}

.team__member-info {
  padding-top: 30px;
  padding-bottom: 24px;

  background-color: var(--white-color);

  text-align: center;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team__member-name {
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}

.team__member-function {
  padding-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;

  color: var(--primary-contacts-and-text-color);
}

.social-links {
  display: flex;
  justify-content: center;
}

/* our clients */

.our-clients {
  background-color: gold;
}

.our-clients__list {
  display: flex;
  justify-content: space-between;
}

.our-clients__item {
  width: calc((100% - 150px) / 6);
  border: var(--our-clients-items-border);
  border-radius: 4px;
}

.our-clients__item:nth-child(1) {
  padding: 20px 63px;
  /* background: #000; */
}

.our-clients__item:nth-child(2) {
  padding: 19px 65px;
  /* background-color: #fff; */
}

.our-clients__item:nth-child(3) {
  padding: 24px 64px 23.4px 65px;
  /* background-color: blue; */
}

.our-clients__item:nth-child(4) {
  padding: 24px 45px;
  /* background-color: red; */
}

.our-clients__item:nth-child(5) {
  padding: 22px 55px 21px 56px;
  /* background-color: grey; */
}

.our-clients__item:nth-child(6) {
  padding: 22px 40px;
  /* background-color: orange; */
}
/* footer */

.footer {
  background-color: brown;
}

.footer__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo-address {
  padding-top: 48px;
  padding-bottom: 28px;
}

.footer__logo-link {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;

  background-color: #000;
}

.footer__logo-link--studio {
  color: var(--white-color);
}

.footer-address__direction {
  display: block;

  font-size: 14px;
  line-height: 1.71;

  color: var(--white-color);

  background-color: #000000;
}

.footer-address__mail,
.footer-address__tel {
  display: block;

  font-size: 14px;
  line-height: 1.71;

  color: var(--footer-contacts-color);

  background-color: #000000;
}

.footer-join-us__title,
.footer-subscription-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;

  color: var(--white-color);

  background-color: #000;
}

.footer-join-us {
  margin-left: 69px;
}

.footer-subscription-form {
  display: flex;
}

.footer-subscription-form__button {
  padding: 10px 45px;
}

.footer-copyright__text {
  font-size: 12px;
  line-height: 2;
  text-align: center;

  color: var(--copyright-color);

  background-color: #000;
}
